server:
  port: 9191

spring:
  application:
    name: ZUUL-SERVER

zuul:
  routes:
    company:
      path: /course/**
      serviceId: course-service
    employee:
      path: /student/**
      serviceId: student-service
